%h1 Listing media_files

%table
  %tr
    %th Src
    %th Format
    %th Gig
    %th
    %th
    %th

  - @media_files.each do |media_file|
    %tr
      %td= media_file.src
      %td= media_file.format
      %td= media_file.gig_id
      %td= link_to 'Show', media_file
      %td= link_to 'Edit', edit_media_file_path(media_file)
      %td= link_to 'Destroy', media_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Media file', new_media_file_path
