<div class="row-fluid">

	<div class="span12" id="theMap">
	
		{{outlet map}}
		
		<div class="flip"> 
		
	        <div class="card"> 
	        
	            <div class="face front"> 
	            
	                {{outlet gigModal}}
	                
	            </div> 
	            
	            <div class="face back"> 
	            
	                {{outlet editGig}}
	                
	            </div> 
	            
	        </div> 
	        
	    </div> 
	    
	    <div class="modalHover" id="authWindow">
	    
	    	{{outlet auth}}
	    	
	    </div>
	    
	</div>

</div>

<div class="row-fluid" style="margin-top:-100%;">
	
	<div class="span4" id="theSidebar">
	
		{{outlet sidebar}}
		
	</div>
	
</div>