<div class="row-fluid">

	<div class="span12" id="theMap">
	
		{{outlet map}}
		
		<div class="flip"> 
		
	        <div class="card"> 
	        
	            <div class="face front"> 
	            
	                {{outlet gigModal}}
	                
	            </div> 
	            
	            <div class="face back"> 
	            
	                {{outlet editGig}}
	                
	            </div> 
	            
	        </div> 
	        
	    </div> 
	    
	    <div class="modalHover" id="authWindow">
	    
	    	{{outlet auth}}
	    	
	    </div>
	    
	</div>

</div>

<div class="row-fluid" style="margin-top:-100%;">
	
	<div {{bindAttr class=":span4 :sideShow slidOut:readyIn:readyOut slidOut:sideHidden:sideShow"}} id="theSidebar">
		<div id="pullButton" {{action toggleSlide target="controller"}} {{bindAttr class=":menuButton slidOut:sideShow:sideHidden"}}>
			{{#if slidOut}}
			<i class="icon-chevron-right icon-white"></i>
			{{else}}
			<i class="icon-chevron-left icon-white"></i>
			{{/if}}
		</div>
		<div id="searchButton" {{action toFind target="controller"}} {{bindAttr class=":menuButton slidOut:sideShow:sideHidden"}}>
			<i class="icon-search icon-white"></i>
		</div>
		<div id="addButton" {{action toAdd target="controller"}} {{bindAttr class=":menuButton slidOut:sideShow:sideHidden"}}>
			<i class="icon-plus icon-white"></i>
		</div>
		{{outlet sidebar}}
		
	</div>
	
</div>