
<div class="span9" id="theMap">
	{{outlet map}}
	<div class="flip"> 
        <div class="card"> 
            <div class="face front"> 
                {{outlet gigModal}}
            </div> 
            <div class="face back"> 
                {{outlet editGig}}
            </div> 
        </div> 
    </div> 
</div>


<div class="span3" id="theSidebar">
	{{outlet sidebar}}
</div>

<div class="modalHover" id="authWindow">{{outlet auth}}</div>

