!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Gigggs"
      %meta{:content => content_for?(:description) ? yield(:description) : "Events for Everyone", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        %script{:type => "text/javascript",
        :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyB3QM0p3_LLVsNLuWmpJW5UTDLU8DZ88yU&libraries=places&sensor=true"}
        = csrf_meta_tags
        = yield(:head)
  %body
    = yield

  :javascript
    App.ready = function() {
      App.initApp(jQuery.parseJSON('#{current_user_json}'))
    }